.header {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
}

.header__groupIcon {
    color: white;
    background-color: #DFE5E7;
    margin: 5px 20px;
    border-radius: 50%;
    font-size: 45px !important;
    padding: 5px;
}

.header__title {
    margin: 2px 0;
}

.header__people {
    margin-top: 1px;
    font-size: small;
    color: #989898;
}